{% load static %}
{% load inventree_extras %}
{% load plugin_extras %}
{% load i18n %}

    <!--Cannot add a button in the panel header as a panelmixin! The HTML here is within the
              panel-content div. Therefore, add the button just below. Maybe can be done with javascript?-->
    {% if stock_labonly %}
        <h5 id='loan-labonly'>This item is designated for lab use only and is not permitted to be loaned</h5>
    {% elif perm %}
    <div>
        <div class='d-flex flex-wrap'>
            {% include "spacer.html" %}
            <div class='btn-group' role='group'>
                <button type='button' class='btn btn-success' id='loan-create' title='{% trans "Loan Item" %}'>
                    <span class='fas fa-share-square'></span> {% trans "Loan Item" %}
                </button>
            </div>
        </div>
    </div>
<div id='user-button-toolbar'>
    {% include "filter_list.html" with id="user" %}
</div>
<table class='table table-condensed table-striped' data-toolbar='#user-button-toolbar' id='stockitem-table'></table>
    {% else %}
<h5 id='loan-avail'>Placeholder</h5>
    {% endif %}

<script>
</script>
