{% extends "page_base.html" %}

{% load static %}
{% load inventree_extras %}
{% load plugin_extras %}
{% load i18n %}


{% block page_title %}
{% inventree_title %} | {% trans "Loaning" %}
{% endblock page_title %}


{% block sidebar %}
{% trans "Loans" as text %}
{% include "sidebar_item.html" with label='loans' text=text icon="fa-sitemap" %}
{% endblock sidebar %}



{% block sidenav %}
<div id='stock-tree'>
    {% trans "Loading..." %}
</div>
{% endblock sidenav %}


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

{% block page_content %}
<div class="panel">
    <div class="card-header">
        <h3 class="card-title">Add a Loan Session</h3>
    </div>
    <div class="card-body">
        <form action="/plugin/loan/api/loansession/" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="stockItem">Stock Item #</label>
                <input type="number" class="form-control" id="stockItem" placeholder="#" min="1" name="stock_item">
            </div>

            <div class="form-group">
                <label for="quantity">Quantity</label>
                <input type="number" class="form-control" id="quantity" min="0" name="quantity">
            </div>

            <div class="form-group">
                <label for="loanDate">Loan Date</label>
                <input type="date" class="form-control" id="loanDate" name="loan_date">
            </div>

            <div class="form-group">
                <label for="loanUser">Loan User #</label>
                <input type="number" class="form-control" id="loanUser" placeholder="#" min="1" name="loan_user">
            </div>

            <button type="submit" class="btn btn-primary">
                Add Loan Session
            </button>
        </form>
    </div>
</div>

<div class='panel panel-hidden' id='panel-loans'>
    <div class='panel-heading'>
        <div class='d-flex flex-wrap'>
            <h4>{% trans "Stock Tracking Information" %}</h4>
        </div>
    </div>
    <div class='panel-content'>
        <div id='tracking-table-toolbar'>
            {% include "filter_list.html" with id="loanitems" %}
        </div>
        <table class='table table-condensed table-striped' id='loan-table' data-toolbar='#tracking-table-toolbar'>
        </table>
    </div>
</div>
{% endblock page_content %}

{% block js_load %}
{{ block.super }}
<script defer type="text/javascript" src={% static '/plugins/loanmanagement/test.js' %}></script>
{% endblock js_load %}


{% block js_ready %}
{{ block.super }}
    onPanelLoad('loans', function() {
        //loadTestTable($("#loan-table"), );
    });

enableSidebar('loanpotatoes');


{% endblock js_ready %}