{% load static %}
{% load inventree_extras %}
{% load plugin_extras %}
{% load i18n %}

<table class='table table-striped table-condensed'>
    <col width='25'>
    <tr>
        <td><h5><span class="fas fa-handshake"></span></h5></td>
        <td><h5>Status</h5></td>
        <td>{{ item.pk }}</td>
    </tr>
</table>
<div id='tracking-button-toolbar'>
    {% include "filter_list.html" with id="tracking" %}
</div>
<table class='table table-condensed table-striped' data-toolbar='#tracking-button-toolbar' id='tracking-table'></table>
