{% extends "loan_base.html" %}

{% load static %}
{% load inventree_extras %}
{% load plugin_extras %}
{% load i18n %}

{% block heading %}
{% trans "Loan Tracking" %}
{% endblock %}

{% block actions %}
<!-- No Header actions -->
{% endblock %}


{% block details_right %}
<table class='table table-striped table-condensed'>
    <col width='25'>
    <tr>
        <td><span class='fas fa-calendar-times'></span></td>
        <td>{% trans "Overdue" %}</td>
        <td>{{ overdue_count }}</td>
    </tr>
    <tr>
        <td><span class='fas fa-calendar'></span></td>
        <td>{% trans "Current" %}</td>
        <td>{{ current_count }}</td>
    </tr>
    <tr>
        <td><span class='fas fa-calendar-check'></span></td>
        <td>{% trans "Returned" %}</td>
        <td>{{ returned_count }}</td>
    </tr>
</table>
{% endblock %}

{% block page_content %}
<!-- Loaning panel -->
<div class='panel panel-hidden' id='panel-loan'>
    <div class='panel-heading'>
        <div class='d-flex flex-wrap'>
            <h4>{% trans "Lent Items" %}</h4>
            {% include "spacer.html" %}
            <div class='btn-group' role='group'>
                <button type='button' class='btn btn-success' id='loan-create' title='{% trans "Loan an Item" %}'>
                    <span class='fas fa-share-square'></span> {% trans "Loan an Item" %}
                </button>
            </div>
        </div>
    </div>
    <div class='panel-content'>
        <div id='loan-button-toolbar'>
            {% include "filter_list.html" with id="loan" %}
        </div>
        <table class='table table-condensed table-striped' data-toolbar='#loan-button-toolbar' id='loan-table'></table>
    </div>
</div>
    
<!-- User panel -->
<div class="panel panel-hidden" id="panel-user">
    <div class="panel-heading">
        <div class="d-flex flex-wrap">
            <h4>Users</h4>
            {% include "spacer.html" %}
            <div class='btn-group' role='group'>
            <button type='button' class='btn btn-success' id='loan-user-create' title='{% trans "Add User" %}'>
                <span class='fas fa-user'></span> {% trans "Add User" %}
            </button>
        </div>
    </div>
    <div class='panel-content'>
        <div id='user-button-toolbar'>
            {% include "filter_list.html" with id="user" %}
        </div>
        <table class='table table-condensed table-striped' data-toolbar='#user-button-toolbar' id='user-table'></table>
    </div>
</div>
{% endblock %}

{% block js_load %}
{{ block.super }}
<script defer type='text/javascript'>
{% include 'js/loan.js' %}
</script>
{% endblock js_load %}

{% block js_ready %}
{{ block.super }}
    // Add on-click handlers for the loan panel
    $('#loan-create').click(function() {
        createNewLoanSession();
    });
    
    // Add on-click handlers for the user panel
    $('#loan-user-create').click(function() {
        createNewLoanUser();
    });
    
    // Load the loan panel
    onPanelLoad('loan', function() {
        // Load the loan table, and by default show only currently loaned items
        loadLoanTable($("#loan-table"),{
            params: {
                stock_detail: true,
                user_detail: true
            }
        });
    });
    
    // Load the user panel
    onPanelLoad('user', function() {
        loadUserTable($("#user-table"));
    });


enableSidebar('loantracking');

{% endblock js_ready %}